# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.eggs/

# Virtual environments
venv/
env/
.venv/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
wheelhouse/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
coverage.xml

# MyPy
.mypy_cache/
.pyre/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.sqlite3

# Flask / Django
instance/
.webassets-cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Others
*.pyc
*.pyo
*~
